# OS
.DS_Store

# IDEs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

config.js

# node
node_modules

# hardhat
.hardhat
deployments/localhost/
build/contracts-localhost.json
